%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = devise_error_messages!
  .inputs
    = f.input :name
    = f.input :email
    %div{ :style => 'margin: 0 0 10px 205px; color: grey;' }
      %i (leave blank if you don't want to change your password)
    = f.input :password
    = f.input :password_confirmation
  .actions
    = f.submit
