.navbar
  .navbar-inner
    .container
      .brand
        Robert Rivas
      %ul.nav
        %li{ class: ( 'active' if home_path == request.env['PATH_INFO'] ) }
          = link_to 'Home', home_path
        %li{ class: ( 'active' if posts_path == request.env['PATH_INFO'] ) }
          = link_to 'Posts', posts_path
        %li{ class: ( 'active' if about_path == request.env['PATH_INFO'] ) }
          = link_to 'About', about_path
        %li{ class: ( 'active' if contact_path == request.env['PATH_INFO'] ) }
          = link_to 'Contact', contact_path
      %ul.nav.pull-right
        - if user_signed_in?
          %li
            = link_to 'Profile', edit_user_registration_path
          %li
            = link_to 'Logout', destroy_user_session_path, :method => 'delete'
        - else
          %li
            %form.navbar-form.pull-left{ action: new_user_session_path, method: 'post' }
              %input.input-small.span2{ type: 'text', name: 'user[email]', placeholder: 'Email' }
              %input.input-small.span2{ type: 'password', name: 'user[password]', placeholder: 'Password' }
              %button.btn{ type: 'submit' }
                Sign in