= simple_form_for @post do |f|

  .inputs
    = f.input :title
    = f.input :description
    = f.input :content, :as => :text

  .actions
    = f.submit 'Save', :class => 'btn btn-primary'
    = link_to 'Cancel', posts_path, :class => 'btn'