.well
  #post_show_title
    %h2
      = @post.title
    %small.description= @post.description

  = markdown(@post.content)

  %br
  - if user_signed_in?
    = link_to 'Edit', edit_post_path(@post)
    \|
  = link_to 'Back', posts_path
