!!!
%html
  %head
    %title
      Blog
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render partial: 'shared/nav'

    .container
      .content
        .page-header
          %h1
            / Sanity Check
            %small Be proud of what you've done
        - flash.each do |name, msg|
          .alert{ :class => (name == :notice ? "alert-success" : "alert-error") }
            %a.close{ 'data-dismiss' => "alert" }= '×'
            = msg
        .row-fluid
          .span9
            = yield
          .span3.fluid-second-column
            Second Column
