!!!
%html
  %head
    %title
      Blog
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          .brand
            Robert Rivas
          %ul.nav
            %li.active
              = link_to 'Home', home_path
            %li
              = link_to 'Projects', projects_path
            %li
              = link_to 'About', about_path
            %li
              = link_to 'Contact', contact_path
          %ul.logins
            - if user_signed_in?
              %li
                = link_to 'Logout', destroy_user_session_path, :method => 'delete'
            - else
              %li
                %form{ action: new_user_session_path, method: 'post' }
                  %input.input-small{ type: 'text', name: 'user[email]', placeholder: 'Username' }
                  %input.input-small{ type: 'password', name: 'user[password]', placeholder: 'Password' }
                  %button.btn{ type: 'submit' }
                    Sign in

    .container
      .content
        .page-header
          %h1
            Sanity Check
            %small be proud of what you've done
        .row
          .span10
            = yield
          .span4
            Second Column
